{% extends "layout.html" %} {% block title %} Index {% endblock %} {% block main
%}

<table class="table table-striped">
  <tr>
    <th>Symbol</th>
    <th>Name</th>
    <th>Shares</th>
    <th>Price</th>
    <th>Total</th>
  </tr>

  {% for i in range(length) %}
  <tr>
    <td>{{ shares[i]['symbol'] }}</td>
    <td>{{ shares[i]['name'] }}</td>
    <td>{{ shares[i]['amount'] }}</td>
    <td>{{ shares[i]['price'] }}</td>
    <td>{{ shares[i]['value']}}</td>

    {% endfor %}
  </tr>
  <tr>
    <td>CASH</td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ cash }}</td>
  </tr>
  <tr>
    <td>TOTAL</td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ total }}</td>
  </tr>
</table>

{% endblock %}
